@model IEnumerable<EduHome.Models.Blog>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a class="btn btn-success" asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
           



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img style="width:150px;" src="~/img/blog/@item.Image" alt="Alternate Text" />
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            

            <td>
                <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

